* {
    margin: 0;
    padding: 0;
}

/* Header Rules */
/* Nav Rules */
#top-nav {
    background-color: #2c3e50;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 999;
}

    .row {
        /* DEBUG */
        height: 100px;
    }
    
        #logo {
            /* DEBUG */
            width: 40%;
            min-height: 40px;
            border: 1px dashed #fff;
        }

        #burger_menu {
            /* DEBUG */
            width: 10%;
            min-height: 40px;
            border: 1px dashed #fff;
        }

        #menu {
            /* DEBUG */
            display: none;
            width: 40%;
            min-height: 40px;
            border: 1px dashed #fff;
        }

/* Hero Rules */
#hero {
    background-color: #1abc9c;
    height: 600px;    
}

    #hero .container-md {
        /* DEBUG */
        height: 100%;
        padding-top: 60px;
    }

        #bio {
            /* DEBUG */
            margin-top: 50px;
            border: 1px dashed #fff;
            min-height: 85%;
        }

/* Main Rules */

#portfolio {
    /* DEBUG */
    min-height: 1700px;
}

#about {
    background-color: #1abc9c;
    /* DEBUG */
    min-height: 500px;
}

#contact {
    /* DEBUG */
    min-height: 500px;
}

    /* Porfolio Section Rules */
    
    #portfolio .container {
        padding-top: 40px;
    }
    
    #portfolio .row {
        /* min-height: 900px; */
        margin-bottom: 50px;
    }

    .col_icon {
        /* DEBUG */
        height: 300px;
        /* border-radius: 20px; */
        /* border: 1px dashed #000; */
    }

        .icon {
            /* DEBUG */
            background-color: #ba4b63;
            min-height: 100%;
            border-radius: 20px;
        }

    
    /* About Section Rules */
    
    #about .container {
        /* DEBUG */
        width: 60%;
        padding-top: 50px;
        height: 500px;
    }

        #about_freelancer {
            /* DEBUG */
            height: 90%;
            border: 1px dashed #fff;
        }

    
    /* Contact Section Rules */

    #contact .container {
        /* DEBUG */
        width: 60%;
        padding-top: 50px;
        height: 500px;
    }

        #contact_me {
            /* DEBUG */
            height: 90%;
            border: 1px dashed #2c3e50;
        }


/* Footer Rules */

    /* Find us Section Rules */

    #find_us {
        background-color: #3a546d;
        /* DEBUG */
        width: 100%;
        height: 300px;
    }

        #find_us .container {
            /* DEBUG */
            width: 70%;
            padding-top: 50px;
            height: 300px;
        }
    
            .find_us_col  {
                /* DEBUG */
                min-height: 50px;
            }

                .info {
                    /* DEBUG */
                    height: 100%;
                    border: 1px dashed #fff;
                }
    
    /* Copyrights Rules */

    #copyrights {
        background-color: #2c3e50;
        /* DEBUG */
        width: 100%;
        height: 80px;
    }

/* Responsive */

/* Tablet version */
@media screen and (min-width: 768px) {
    
    /* Header */
    
    #burger_menu {
        display: none;
    }

    #menu {
        display: block;
    }

    #hero .container-md {
        width: 60%;
    }

    /* Main */

    #portfolio {
        min-height: 1000px;
    }
    
    #portfolio .row {
        width: 100%;
        /* min-height: 1200px; */
    }

    #portfolio .container {
        width: 720px;
    }

    /* Footer */
    #find_us {
        height: 200px;
    }

    #find_us .container {
        height: 200px;
    }
}

/* Desktop version */
@media screen and (min-width: 992px) {
    .row {
        justify-content: space-evenly;
    }

    #logo,#menu {
        width: 30%;
    }

    /* Main */

    #portfolio {
        min-height: 700px;
    }

    #portfolio .row {
        width: 100%;
        /* min-height: 800px; */
    }

    #portfolio .container {
        width: 960px;
    }
}