* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Rules */
/* Nav Rules */
#top_nav {
    background-color: #2c3e50;
    width: 100%;
    height: 100px;
}


    

/* Hero Rules */
#hero {
    background-color: #1abc9c;
    height: 500px;
    margin-top: 100px;    
}

    

        #bio {
            margin-top: 50px;
        }

            #avatar {
                max-height: 300px;
            }

            .h1 {
                font-size: 40px;
            }

            .ms_line {
                height: 3px;
                width: 80px;
                background-color: #fff;
            }

        
/* Main Rules */


#about {
    background-color: #1abc9c;
}



    /* Porfolio Section Rules */
    
    #portfolio .container {
        padding-top: 40px;
    }
    

            .icon img {
                max-width: 100%;
                border-radius: 20px;
            }

        #portfolio h2 {
            color: #2c3e50;
        }
        
        #portfolio .ms_line {
            background-color: #2c3e50;
        }

        

        
    
    /* About Section Rules */
    
    #about .container {
        width: 60%;
    }

    
    /* Contact Section Rules */

    #contact .container {
        width: 60%;
    }


        #contact_me .ms_line {
            background-color: #2c3e50;
        }




/* Footer Rules */

    /* Find us Section Rules */

    #find_us {
        background-color: #3a546d;
        width: 100%;
    }

        #find_us .container {
            width: 70%;
            padding-top: 50px;
        }
    


                    .social {
                        border: 1px solid #fff;
                        border-radius: 50%;
                        padding: 10% 10%;
                    }

                    #green {
                        color: #1aba9a;
                    }
    
    /* Copyrights Rules */

    #copyrights {
        background-color: #2c3e50;
        width: 100%;
        height: 80px;
    }

        #copyrights h6 {
            font-size: 12px;
        }

/* Responsive */

/* Tablet version */
@media screen and (min-width: 768px) {
    
    
    #portfolio .row {
        width: 100%;
    }

    #portfolio .container {
        width: 720px;
    }

    /* Footer */

}

/* Desktop version */
@media screen and (min-width: 992px) {


    /* Main */


    #portfolio .row {
        width: 100%;
    }

    #portfolio .container {
        width: 960px;
    }
}